*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
/*header Part*/
header{
    
    background-repeat: no-repeat;
    background-position:center;
    background-color:rgba(0,0,0,1);
    background-image: url(../img/banner_photo.png);

}
.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 90px;
}
.logo-box{
    display:flex;
    align-items: center;
}
.logo-img, .logo-text{
    display: inline-block;
}
.logo-img{
    margin-right: 40px;
}
.logo-text a{
    color: #ffffff;
    font-size: 24px;
}
.menu{
    display: flex;

}
.menu li{
    list-style: none;

}
.menu li a{
    font-size: 18px;
    color: #ffffff;
    padding: 0 20px;
    transition: .3s;
}
.menu li a:hover{
    color: #7ea3dfea;
}
.hero-header{
    text-align: center;
    padding-top: 90px;
}
.hero-header h1{
    font-size: 72px;
    line-height: 72px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight:400;
    padding-bottom: 40px;
}
.hero-header p{
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    padding-bottom: 55px;
}
.hero-header a{
    font-size: 24px;
    color: #ffffff;
    padding: 20px 25px;
    background-color: #27ae60;
    border-radius: 30px;
    margin-bottom: 145px;
}
.hero-header a:hover{
    background-color: rgb(197, 55, 55);
}
.header-footer{
    text-align: center;
    padding-top: 145px;
    padding-bottom: 25px;
}
.circle{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    
}
.circle:hover{
    background-color: #27ae60;
    border: none;
}


/*introduction*/

.introduction-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-basis:content;
    margin-bottom: 60px;
}
.intro-img, .intro-text{
    width: 47%;
    
    
}
.introduction-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-header{
    font-size: 36px;
    line-height: 48px;
    padding-top: 70px;
    color: #1a1a1a;
}
.intro-paragraph{
    font-size: 18px;
    line-height: 24px;
}
.intro-box{
    margin-top: 70px;
}
.intro-logo{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.intro-logo img{
    display: block;
}
.intro-logo a{
    margin-left: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #1a1a1a;
}


/*FEATURES*/

.features{
    background-color: #f1f1f1;

}
.feature-header{
    font-size: 48px;
    line-height: 60px;
    color: #1a1a1a;
    text-align: center;

}
.feature-header h2{
    padding-top: 75px;

}
.feature-content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 70px;
    grid-row-gap: 60px;
    margin-top: 55px;
    padding-bottom: 70px;
    
}
.feature-card{
    text-align: center;
    
}
.feature-logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.feature-logo img{
    margin:35px auto;
}
.card-header{
    font-size: 30px;
    line-height: 36px;
    padding-top: 20px;
    color: #1a1a1a;
}
.card-content{
    font-size: 18px;
    line-height: 24px;
    padding-top: 30px;
    text-align: center;
    color: #484848;
}

/*course*/

.course{

}
.course-header{
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    color: #1a1a1a;
    padding-top: 75px;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    padding-top: 60px;
    justify-content: space-between;
    margin-bottom: 40px;
}
.course-card{
    background-color: #f1f1f1;
    
}
.course-img{
    width: 360px;
    height: 245px;

}
.course-img img{
    height: 100%;
    width: 100%;
}
.card-heading{
    padding-left: 30px;
    padding-top: 30px;
    text-align: left;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #cfcfcf;
}
.card-head{
    font-size: 30px;
    line-height: 36px;
    color: #1a1a1a;
    padding-bottom: 20px;
}
.card-p{
    font-size: 18px;
    line-height: 24px;
    color: #484848;

}
.time{
    display: block;
    text-align: center;
    font-size: 24px;
    color: #1a1a1a;
    padding-bottom: 20px;

}
.border{
    width: 245px;
    height: 2px;
    background-color: #cfcfcf;
    margin: 0 auto;
    margin-bottom: 20px;

}
.teacher{
    display: block;
    text-align: center;
    font-size: 24px;
    color: #1a1a1a;
    padding-bottom: 20px;
     
}
.cta-btn{
display: block;
text-align: center;
margin-top: 50px;
margin-bottom: 25px;
   
}
.cta-btn a{
    color: #fff;
    font-size: 24px;
    padding: 15px 85px;
    background-color: #27ae60;
    border-radius: 30px;
    display: inline-block;
    transition: .3s;

}
.cta-btn a:hover{
    background-color: rgb(236, 99, 99);
}
.teacher-footer{
    text-align: center;
    margin-bottom: 60px;
}
.teacher-f{
    color: #a7a7a7;
    font-size: 24px;
}

/*teacher part*/


.teacher-section{
    background-color: #f1f1f1;
}
.teacher-header{
    padding-top: 70px;
    text-align: center;
    padding-bottom: 50px;
    

}
.teacher-header h2{
    font-size: 48px;
    line-height: 60px;
    color: #1a1a1a;
}
.teacher-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 55px;
    justify-content: space-between;
    padding-bottom: 110px;
}
.teacher-card{
    display: flex;
    align-items: center;

}
.teacher-img{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.teacher-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;

}
.teacher-name{
    font-size: 30px;
    color: #1a1a1a;
}
.teacher-sub{
    font-size: 24px;
    color: #27ae60;
}

/*program*/


.program{
    margin-bottom: 90px;
}

.program-heading{
    text-align: center;
    padding-top: 75px;
    margin-bottom: 45px;
    font-size: 48px;
    line-height: 60px;
    color: #1a1a1a;
}
.program-container{
    display: grid;
    grid-column-gap: 30px;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
}
.program-card{
    width: 360px;
    height: 360px;
    background-color:rgba(39, 174,96,1);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
}
.program-card:hover{
    background-color:rgba(39, 174,96,0);  
}
.card-1{
    background-image: url(../img/pre_colllege.png);
   
}
.card-2{
    background-image: url(../img/middle_school.png);
}
.card-3{
    background-image: url(../img/high_school.png);
}
.card-4{
    background-image: url(../img/international_exchange.png);
}
.card-5{
    background-image: url(../img/graduate_program.png);
}
.card-6{
    background-image: url(../img/home_education.png);
}
.program-header{
    padding-top: 120px;
    font-size: 30px;
    color: #ffffff;
    transition: .3s;
}
.program-card:hover .program-header{
    color: black;
}
.program-content{
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    margin-top:30px;
    transition: .3s;
}
.program-card:hover .program-content{
    color: black;
}


/*what client say */


.review{
    background-color: #f1f1f1;

}
.review-part{
    position: relative;
}
.img-container{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.img-box{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
   

}
.client-1{
    background-image: url(../img/client_1.png);
    background-color:black;
}
.client-2{
     background-image: url(../img/client_2.png);
    background-color:black;
}
.client-3{
     background-image: url(../img/client_3.png);
    
    border: 2px solid #27ae60;
}
.client-4{
     background-image: url(../img/client_4.png);
    background-color:black;
}
.client-5{
     background-image: url(../img/client_5.png);
    background-color:black;
}
.review-container{
    text-align: center;
    margin-top: 35px;
    padding-bottom: 75px;
}
.review-content{
    padding-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #484848;
}
.review-name{
    font-size: 30px;
    line-height: 36px;
    color: #1a1a1a;
    padding-bottom: 20px;
}
.title{
font-size: 24px;
line-height: 30px;
color: #484848;
}
.arrow-left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.arrow-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/*blog*/
.blog-section{
    overflow: hidden;
    padding-bottom: 90px;

}
.blog-header{
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    color: #1a1a1a;
    margin-top: 80px;

}
.blog-container{
    display: flex;
    padding: 20px;
    justify-content:space-between;
    margin-left: -150px;
    margin-right: -150px;
    margin-top: 50px;
    
}
/*.blog-container-part{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    

}*/
.card{
    text-align: center;
    width: 300px;
    margin-right: 30px;

}
.card-img{
    width: 100%;
    height: 290px;
    margin-bottom: 30px;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content-header{
    font-size: 24px;
    line-height: 32px;
    color: #1a1a1a;
    margin-bottom: 35px;
}
.blog-content{
    font-size: 18px;
    line-height: 24px;
    color: #484848;
}
.blog-button{
    margin-top: 45px;
    display: block;
    text-align: center;
}
.blog-btn{
    color: #fff;
    padding: 15px 50px;
    background-color: #27ae60;
    border-radius: 30px;
    display: inline-block;
    transition: .3s;

    font-size: 24px;
    line-height: 30px;
}

/*newslatter*/

.newsletter-section{
    background-image: url(../img/e-mail-content.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;
    height: 300px;

}
.news-section{
    display: flex;
    flex-wrap: wrap;
    height:300px;
    justify-content: space-between;
    align-items: center;
}
.news-part{
    width:470px;
    color:#ffffff ;
    font-size: 36px;
    line-height: 48px;
    padding-left: 20px;

}

.news-email{
    margin-bottom: -10px;
    width: 380px ;
    border-bottom: 2px solid white;

} 
.email{
    color: #ffffff;
    background-color:#3c3d3e;
    width: 100%;
    outline: none;
    border: none;
    font-size: 30px;
}  
.submit{
    width: 200px;
    
  
}
.submit-btn{
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    padding: 15px 60px;
    background-color: #27ae60;
    border-radius: 30px;

}

/*contact*/
.contact-section{
    padding-bottom: 40px;
}

.contact-part{


}
.contact-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}
.form{
    width: 540px;
}
.input-form{
    width: 540px;
    margin-bottom: 40px;

}
.input-form input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #d1d1d1 ;
    padding-bottom: 20px;

}
.input-form textarea{
    width: 100%;
    height: 200px;
    resize: none;
    padding-top: 25px;
    padding-left: 20px;
    border: none;
    border: 2px solid #d1d1d1;
    outline:none;

}
::placeholder{
    font-size: 18px;
    color: #7b7b7b;
}
.contact-btn{
    display:inline-block;
   

}
.contact-btn a{
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    padding: 20px 50px;
    background-color: #27ae60;
    border-radius: 30px;
}
.map{
    width: 540px;
    height: 300px;
    margin-bottom: 20px;

}
.map-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.icon-blog{
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.icon{
    width: 33%;
    margin-top: 30px;
    align-items: center;

}
.icon img{
    display: block;
    margin-bottom: 20px;
}
.phone{
    margin-top: -10px ;
    color: #484848;
    
}
.mail{
    color: #484848;
}
address{
    margin-top: -6px;
    color: #484848;
}
header{
    background-image: none;
}

.footer{
    text-align: center;
    background-color: rgb(34, 31, 31);
}
.footer i{
    color: rgb(133, 204, 195);
    font-size: 15px;
}
   

/*RESPONSIVE*/



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    .menu{
        display: none;
    }
    .logo-box{
        margin-left: auto;
        margin-right: auto;
    }
    .hero-header h1{
        font-size: 45px;
    }
    .introduction-content{
        display: flex;
        flex-direction: column;
    }
    .intro-img{
        width: 100%;
    }
    .intro-text{
        width: 100%;
        padding-left: 45px;
    }
    .intro-header{
        text-align: center;

    }
    .feature-header{
        font-size: 40px;
    }
    .feature-content{
        display: flex;
        flex-direction: column;
    }
    .teacher-container{
       

    }
    .feature-card{
        margin-bottom: 30px;
       

    }
    .teacher-card{
        display: block;
        text-align: center;
    }
    .teacher-img{
        margin-left: auto;
        margin-right: auto;
        
    }

    .teacher-dada{
        text-align: center;
        display: block;
    }
    .card-container{
        display: flex;
        flex-direction: column;


    }
    .course-card{
        margin-bottom: 50px;
    }
    .card-heading{
        text-align: center;
    }

    .teacher-container{
        display: flex;
        flex-direction: column;

    }
    .program-container{
        display: flex;
        flex-direction: column;
    }
    .img-container{
        display: flex;
    }
    .client-1,.client-2,.client-4, .client-5{
        display: none;
        

    }
    .client-3{
        text-align: center;
        margin-left:130px;
    }
    .arrow-left{
        display: none;
    }
    .arrow-right{
        display: none;
    }
    .blog-header{
        font-size: 30px;

    }
    .blog-container{
        flex-direction: column;

    }
    .card{
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }
    .blog-content{
        text-align: center;
    }
    .blog-content{
        padding: 0 20px;
    }
    .blog-button{
        margin-left: auto;
        margin-right: auto;
    }
    .news-section{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

    }
    .news-part{
        width: 100%;
        font-size: 30px;
        text-align: center;

    }
    .news-email{
        width: 100%;

    }
    .email{
        width: 100%;
    }
    .submit{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;


    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

    }
    .input-form{
        width: 100%;
    }
    input{
        padding-left: 30px;
    }
    .contact-btn{
        text-align: center;

    }
    .map-container{
        display: flex;
        flex-direction: column;
        
    }
    .icon-blog{
        display: flex;

    }
    .icon{
        text-align: center;
    }
    .icon-img{
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        width: 100%;
    }
    .news-section{
        display: flex;
        padding: 0 20px;
        flex-direction: column;
    }
    .news-pard{
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .map-img map{
        width: 100%;
    }
    .feature-header h2{
        font-size: 30px;
    }
    .course-header{
        font-size: 30px;
    }
    .program-heading{
        font-size: 30px;
    }
    .intro-header{
        font-size: 30px;
    }
    .card-header{
        font-size: 25px;
    }
    .card-head{
        font-size: 25px;
    }
    .teacher-header h2{
        font-size: 30px;
    }
    .teacher-name{
        font-size: 20px;
    }
    .footer-nav{
        display: block;
        text-align: center;
    }
    .footer-logo{
        display: block;
        margin-bottom: 20px;
    }
    .footer-menu{
        visibility: visible;
        display: block;
    }
    .footer i{
        font-size: 10px;
    }
    .footer-menu li{
        padding: 10px;
    }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}






